[Desktop Entry]
Type=Application
Name=OpenTESArena
Comment="Open-source re-implementation of The Elder Scrolls: Arena"
Exec=otesa
Icon=opentesarena
StartupWMClass=otesa
Terminal=false
Categories=Game;Adventure;
